<form class="form-register" role="form" {{action 'register' on='submit'}}>
    <h2 class="form-register-heading">User Registration</h2>
    {{input type="text" value=username  placeholder="user name..." class="form-control"}}
    {{input type="email" value=useremail  placeholder="email..." class="form-control"}}
    {{input type="password" value=userpass placeholder="password..." class="form-control"}}
    {{input type="passwordrepeat" value=userpassconfirm placeholder="repeat password..." class="form-control"}}
    <button class="btn btn-lg btn-primary btn-block" type='submit'>Register</button>
</form>
