<form {{action 'register' on='submit'}}>
    {{input type="text" value=username  placeholder="user name..."}}<br>
    {{input type="email" value=useremail  placeholder="email..."}}<br>
    {{input type="password" value=userpass placeholder="password..."}}<br>
    {{input type="password" value=userpassconfirm placeholder="repeat password..."}}<br>
    <button type='submit'>Register</button>
</form>
